.container {
  margin: 6vh 17vw;
  height: 87vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  font-weight: bold;
  color: #185a88;
}

.content {
  text-align: left;
  margin-top: 2vh;
}

.content .inputText {
  padding: .6vh 0 1vh 0;
}

.dateInput {
  width: 100%;
}

.application_btn{
  padding-top: 2vh;
}

.necessary {
  color: #cb1414;
}
