.list-container {
  height: 100%;
}

.el-tabs__nav {
  height: 6vh;
  background: #3A88D5;
  width: 100%;
}

.el-tabs__item {
  width: 50%;
  color: #c6daec;
  height: 100%;
  line-height: 100%;
  vertical-align: top;
}

.el-tabs__item span {
  position: absolute;
  line-height: 4vh;
  width: 100%;
  left: 0;
  top: 50%;
  height: 4vh;
  margin-top: -2vh;
}

.el-tabs__item.is-active {
  color: white;
  font-weight: bold;
}

.el-tabs__item.is-active span::after {
  content: "";
  background: white;
  height: 5px;
  width: 5px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -2.5px;
}

.el-tabs__active-bar {
  height: 0;
}

.el-tabs--top .el-tabs__item.is-top:nth-child(2) {
  padding-left: 20px;
}

.el-tabs--top .el-tabs__item.is-top:last-child {
  padding-right: 20px;
  border-left: 1px solid #A4C3E4;
}

.el-tabs__header {
  margin: 0;
}

.el-tabs__content {
  height: 64vh;
  overflow-y: auto;
}

.long-container .el-tabs__content {
  height: 94vh;
}

.full-container .el-tabs__content {
  height: 100vh;
}

/*圆角 输入框*/

.my-comment-list .el-input__inner {
  border-radius: 15px;
}

.el-button--primary.is-plain:hover {
  color: #409EFF;
  background: #ecf5ff;
  border-color: #b3d8ff;
}

/*my-comment-list*/

.my-comment-list .loading-layer {
  top: -50px;
}

.el-message {
  top: 0 !important;
  width: 100%;
}

.el-textarea__inner {
  border: 1px dashed #cccccc;
}

.proposal_bg {
  background: url(../image/proposal_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.center_bg {
  background: url(../image/center_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.center_home_bg {
  background: url(../image/center_home_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.center_no_bg {
  background: url(../image/center_no_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.quick_validate_bg {
  background: url(../image/quick_validate_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.proposal-cover .loading-layer {
  padding-bottom: 10vh;
}

.memberBg {
  background: url(../image/member_bg.png);
  border-radius: 20px 0 0 20px;
  background-size: 100% 100%;
  position: relative;
  box-shadow: 0px 1px 0px #cccccc;
}

/*我的民革下我的4块*/
.center-title {
  height: 10vh;
  line-height: 10vh;
  color: white;
  font-size: 2.5vh;
  letter-spacing: 2px;
}

.center-list {
  width: 90%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 3vh;
  height: 77vh;
}

.center-footer {
  height: 10vh;
  position: relative;
}

.center-add-btn {
  height: 8vh;
  width: 8vh;
  background: #2192e0;
  position: absolute;
  top: 1vh;
  left: 50%;
  margin-left: -4vh;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #e9e9e9;
}

.center-add-btn-row, .center-add-btn-col {
  position: absolute;
  height: 5vh;
  width: .6vh;
  background: #ffffff;
  top: 2.5vh;
  left: 50%;
  margin-left: -.3vh;
  border-radius: 100px;
}

.center-add-btn-col {
  transform: rotate(90deg);
}

.center_home_bg .select-all .el-checkbox__label {
  padding-left: 5px;
  line-height: 14px;
  font-size: 12px;
}

.center_home_bg .img-cover .el-checkbox {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.center_home_bg .img-cover .el-checkbox__label {
  display: none;
}

.el-message-box{
  width: 80% !important;
}
.videoList .el-button--mini{
  padding: 2px 4px;
}
