.list-container {
  height: 100%;
}

.news-list .el-tabs__nav {
  height: 6vh;
  background: #3A88D5;
  width: 100%;
}

.news-list .el-tabs__item {
  width: 50%;
  color: #c6daec;
  height: 100%;
  line-height: 100%;
  vertical-align: top;
}

.news-list .el-tabs__item span {
  position: absolute;
  line-height: 4vh;
  width: 100%;
  left: 0;
  top: 50%;
  height: 4vh;
  margin-top: -2vh;
}

.news-list .el-tabs__item.is-active {
  color: white;
  font-weight: bold;
}

.news-list .el-tabs__item.is-active span::after {
  content: "";
  background: white;
  height: 5px;
  width: 5px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -2.5px;
}

.news-list .el-tabs__active-bar {
  height: 0;
}

.news-list .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
  padding-left: 20px;
}

.news-list .el-tabs--top .el-tabs__item.is-top:last-child {
  padding-right: 20px;
  border-left: 1px solid #A4C3E4;
}

.news-list .el-tabs__header {
  margin: 0;
}

.news-list .el-tabs__content {
  height: 64vh;
  overflow-y: auto;
}

.long-container .el-tabs__content {
  height: 94vh;
}

.full-container .el-tabs__content {
  height: 100vh;
}

/*圆角 输入框*/

.my-comment-list .el-input__inner {
  border-radius: 15px;
}

.el-button--primary.is-plain:hover {
  color: #409EFF;
  background: #ecf5ff;
  border-color: #b3d8ff;
}

/*my-comment-list*/

.my-comment-list .loading-layer {
  top: -50px;
}

.el-message {
  top: 0 !important;
  width: 100%;
  min-width: 200px;
  border-radius: 0;
}

.el-textarea__inner {
  border: 1px dashed #cccccc;
}

.note-wrapper .el-textarea__inner {
  border: 1px solid #cccccc;
}

.proposal_bg {
  background: url(../image/proposal_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.center_bg {
  background: url(../image/center_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.center_home_bg {
  background: url(../image/center_home_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.center_no_bg {
  background: url(../image/center_no_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.quick_validate_bg {
  background: url(../image/quick_validate_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.application_header {
  background-image: url("../image/application_header.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  height: 8vh;
  width: 100%;
}

.application_bg {
  background-image: url(../image/application_bg.png);
  background-size: 100% 100%;
  position: absolute;
  top: 8vh;
  width: 100%;
  height: auto;
  min-height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.application_inner_bg {
  background: url(../image/application_inner.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.proposal-cover .loading-layer {
  padding-bottom: 10vh;
}

.memberBg {
  background: url(../image/member_bg.png);
  border-radius: 20px 0 0 20px;
  background-size: 100% 100%;
  position: relative;
  box-shadow: 0px 1px 0px #cccccc;
}

.note_bg {
  background: url(../image/note_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 92vh;
  overflow-y: auto;
}

.book_detail_bg {
  background: url(../image/book_detail_bg.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 92vh;
}

/*我的民革下我的4块*/

.center-title {
  height: 10vh;
  line-height: 10vh;
  color: white;
  font-size: 2.5vh;
  letter-spacing: 2px;
}

.center-list {
  width: 90%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 3vh;
  height: 77vh;
}

.center-footer {
  height: 10vh;
  position: relative;
}

.center_home_bg .center-footer {
  height: 10vh;
  position: relative;
  width: 8vh;
  margin: auto;
}

.center-add-btn {
  height: 8vh;
  width: 8vh;
  background: #2192e0;
  position: absolute;
  top: 1vh;
  left: 50%;
  margin-left: -4vh;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #e9e9e9;
  z-index: 12;
}

.center-add-btn-row,
.center-add-btn-col {
  position: absolute;
  height: 5vh;
  width: .6vh;
  background: #ffffff;
  top: 2.5vh;
  left: 50%;
  margin-left: -.3vh;
  border-radius: 100px;
  z-index: 13;
}

.center-add-btn-col {
  transform: rotate(90deg);
}

.center_home_bg .select-all .el-checkbox__label {
  padding-left: 5px;
  line-height: 14px;
  font-size: 12px;
}

.center_home_bg .img-cover .el-checkbox {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.center_home_bg .img-cover .el-checkbox__label {
  display: none;
}

.el-message-box {
  width: 80% !important;
}

.el-select-dropdown {
  max-width: 80% !important;
}

.videoList .el-button--mini {
  padding: 2px 4px;
}

/*elementui中的tab*/

.el-tabs__item {
  padding: 0 16px;
  height: 35px;
  line-height: 35px;
}

.el-tabs--card>.el-tabs__header {
  border-bottom: none;
  margin: 0;
}

.el-tabs--card>.el-tabs__header .el-tabs__item:last-child {
  border-bottom: 1px solid #2086ce;
  border-top: 1px solid #2086ce;
  border-right: 1px solid #2086ce;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 16px;
  height: 35px;
  line-height: 35px;
}

.el-tabs--card>.el-tabs__header .el-tabs__item:first-child {
  border-bottom: 1px solid #2086ce;
  border-top: 1px solid #2086ce;
  border-left: 1px solid #2086ce;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 16px;
  height: 35px;
  line-height: 35px;
}

.el-tabs__item.is-active:first-child {
  background: #2086ce;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.el-tabs__item.is-active:last-child {
  background: #2086ce;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.el-tabs__nav {
  float: none;
  height: 9vh;
  line-height: 9vh;
}

.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: none;
}

/*进度条*/

.readProgress .el-progress {
  float: left;
  width: 40%;
  height: 5vh;
  line-height: 5vh;
}

.readProgress2 .el-progress {
  float: left;
  width: 40%;
  height: 3vh;
  line-height: 3vh;
}

.readProgress .el-progress__text {
  color: #ec8947;
}

.readProgressText .el-progress__text {
  color: #ebb71d;
}

.progress .el-progress {
  float: left;
  width: 59%;
  height: 3vh;
  line-height: 3vh;
}

.progress .el-progress__text {
  color: #ebb71d;
}

/*图书详情中mini按钮*/

.el-button--mini {
  padding: 3px 7px;
}

.my-dialog .el-dialog {
  top: 50%;
  margin-top: -95px !important;
}

.el-button--primary.is-plain:focus {
  color: #409EFF;
  background: #ecf5ff;
  border-color: #b3d8ff;
}

.el-radio-button .el-radio-button__inner {
  width: 100%;
  border: 1px solid #dcdfe6;
}

.gender-picker .el-radio-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gender-picker .el-radio-button {
  width: 48%;
  position: relative;
}

.gender-picker .el-radio-button .el-radio-button__inner {
  border-radius: 4px !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}

.gender-picker .el-radio-button .el-radio-button__inner:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}

.gender-picker .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: #409EFF;
  background-color: #ffffff;
  border-color: #409EFF;
  -webkit-box-shadow: none;
}

.gender-picker .el-radio-button__orig-radio:checked+.el-radio-button__inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 30px solid #409EFF;
  border-left: 30px solid transparent;
}

.gender-picker .el-radio-button__orig-radio:checked+.el-radio-button__inner::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "\e66a";
  position: absolute;
  top: 3px;
  right: 3px;
  color: #ffffff;
  z-index: 1;
  font-size: 12px;
}

/*distpicker */

.distpicker-blanks {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.distpicker-address-wrapper select {
  width: 100%;
  height: 36px;
  outline: none;
  border: none;
  margin-top: 1vh;
  color: #bfbfbf;
}

.demo-dynamic {
  width: 100%;
}

.demo-dynamic .el-input--medium {
  width: 90%;
  margin-top: 1vh;
}

.demo-dynamic i {
  font-size: 18px;
  font-weight: 900;
  margin-left: 2px;
  color: #bfbfbf;
  opacity: 0.8;
  vertical-align: middle;
}

.dist-select {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 999;
}

.dist-select {
  background: white;
}

.distCommit {
  background-color: white;
}

.input_border .el-textarea__inner {
  border: none;
}

.address-container {
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/*一年后的申请表*/

.content .el-select {
  width: 100%;
}

.application_bg .el-input__inner {
  height: 32px;
  line-height: 32px;
}

.application_btn .el-button.is-round {
  padding: 11px 36px;
}

.content .el-textarea__inner {
  border: 1px solid #ccc;
}

input,
button {
  -webkit-appearance: none;
  outline: none;
  transform: translateZ(0);
}
